* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    width: 75%;
}

.btn {
    width: 30%;
    height: 48px;
    font-size: 24px;
}
